<div ng-controller="KeycloakResolverController">
    <h2 class="form-signin-heading" ng-show="resolvername" translate>
        Edit Keycloak Resolver {{ resolvername }}
    </h2>
    <h2 class="form-signin-heading" ng-hide="resolvername" translate>
        Create a new Keycloak Resolver
    </h2>

    <form name="formResolverAddKeycloak" role="form" validate class="form-horizontal">
        <div class="form-group">
            <label for="resolvername" class="col-sm-3 control-label" translate>Resolver name</label
      >

      <div class="col-sm-9">
        <input
          name="resolvername"
          id="resolvername"
          class="form-control"
          ng-model="resolvername"
          required
          placeholder="resolver1"
          ng-pattern="inputNamePatterns.withoutTest.pattern"
          title="{{ inputNamePatterns.withoutTest.title | translate }}"
          autofocus
        />
      </div>
    </div>
    <div class="form-group">
      <label for="keycloakserver" class="col-sm-3 control-label" translate>
        Keycloak Server URI</label
      >

      <div class="col-sm-9">
        <input
          name="keycloakserver"
          class="form-control"
          ng-model="params.keycloak_server"
          required
          placeholder="http://localhost:8080/"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="realm" class="col-sm-3 control-label" translate>
        Realm</label
      >

      <div class="col-sm-9">
        <input
          name="realm"
          class="form-control"
          ng-model="params.keycloak_realm"
          required
          placeholder="REALM"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="client" class="col-sm-3 control-label" translate
        >Client</label
      >

      <div class="col-sm-9">
        <input
          name="client"
          class="form-control"
          ng-model="params.auth_client"
          required
          placeholder="hostname"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="secret" class="col-sm-3 control-label" translate
        >Secret</label
      >

      <div class="col-sm-9">
        <input
          name="secret"
          class="form-control"
          ng-model="params.auth_secret"
          required
          placeholder="d81c31e4-9f65-4805-b5ba-6edf0761f954"
        />
      </div>
    </div>

    <div class="text-center" ng-show="showResult">
      <label
        class="label"
        ng-class="{'label-success':result.result,
                   'label-danger':!result.result}"
      >
        {{ result.description }}<span
          class="glyphicon glyphicon-remove"
          ng-click="showResult=false"
        ></span>
      </label>
        </div>

        <div class="text-center">
            <button ng-click="testResolver()" ng-disabled="formResolverAddKeycloak.$invalid" class="btn btn-success" translate>
        Test Keycloak Resolver
      </button>
            <button ng-click="setKeycloakResolver()" ng-show="checkRight('resolverwrite')" ng-disabled="formResolverAddKeycloak.$invalid" class="btn btn-primary" translate>
        Save resolver
      </button>
        </div>
    </form>
</div>